@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@{ var selection = CurrentPage.Children.Where("Visible") .OrderBy("CreateDate desc");  }

@if (selection.Any())
{
    <ul>
        @foreach (var item in selection)
        {
            <li>
                <a href="@item.Url">@item.Name</a>
            </li>
				<p>@item.GetPropertyValue("summary")<br/>created the @item.CreateDate by @item.CreatorName</p>
        }
    </ul>
}